@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;

  position: relative;
  width: 400px;
  height: 750px;

  background: #3450a1;
  border-radius: 50px;
}

.tasks {
	padding: 0px 30px;
}