.wrapper {
	padding: 20px;
	margin: 0px 0px 10px 0px;

	display: flex;
	gap: 10px;
	align-items: center;

	background: #041955;
	border-radius: 15px;
}

.icon {
	width: 22px;
	height: 22px;

	border: 3px solid #fff;
	border-radius: 50%;
}

.text {
	color: #fff;
}

.textCompleted {
	text-decoration: line-through;
}